/*  RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

/* GENERAL */
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/* HERO SECTION */
.hero-bg {
  background-color: #1f2937;
}

.hero {
  height: 90vh;
  width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #f9faf8;
}

header {
  display: flex;
  align-items: center;
  padding-block: 1rem;
}

header h2 {
  margin-right: auto;
  font-size: 1.5rem;
}

header ul {
  display: flex;
  gap: 1.25rem;
}

header ul li {
  font-size: 1.125rem;
  color: #e5e7eb;
}

.hero-info {
  margin-bottom: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.hero-info div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.hero-info div h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-info div p {
  text-align: justify;
}

.hero-info div button {
  color: #e5e7eb;
  background-color: #3882f6;
  width: max-content;
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
}

/* INFORMATION SECTION */
.information-bg {
  background-color: #fff;
}

.information {
  width: 1024px;
  margin: 4rem auto 8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.information h3 {
  font-size: 2.25rem;
  color: #1f2937;
  font-weight: 900;
}

.services {
  display: flex;
  gap: 3rem;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.625rem;

  max-width: 200px;
}

.service img {
  width: 48px;
}

.service span {
  color: #1f2937;
  font-size: 0.925rem;
  font-weight: 300;
}

/* QUOTE SECTION */
.quote-bg {
  background-color: #e5e7eb;
  padding: 8rem 0 6rem;
}

.quote {
  width: 1024px;
  margin: 0 auto;
  color: #1f2937;

  display: flex;
  flex-direction: column;
}

.quote p {
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
}

.quote span {
  align-self: flex-end;
  font-weight: 900;
}

/* CONTACT SECTION */
.contact-bg {
  background-color: #fff;
}

.contact {
  background-color: #3882f6;
  color: #f9faf8;
  width: 1024px;
  margin: 6rem auto;
  padding: 2rem 6rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.contact div {
  width: 100%;
}

.contact div h4 {
  font-size: 1.25rem;
}

.contact div p {
  font-weight: 300;
}

.contact div input {
  margin-top: 1rem;

  background-color: #f9faf8;
  color: #1f2937;
  border: 2px solid #e5e7eb;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: 60%;
}

.contact div input:focus {
  outline: none;
}

.contact button {
  color: #e5e7eb;
  font-size: 1.25rem;
  font-weight: 900;

  border: 3px solid #f9faf8;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
}
